---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { Header } from "../components/nUI/header";
import { Footer } from "../components/nUI/footer";

import "@fontsource/noto-sans-jp";

const nav = [
	{
		name: "All Components",
		href: "/components",
	},
	{
		name: "GitHub",
		href: "https://github.com/neodyland/ui-oss",
	},
	{
		name: "About Neodyland",
		href: "https://neody.land/",
	},
	{
		name: "License",
		href: "/docs/license",
	},
];
import {
	FaDiscord,
	FaGithub,
	FaMastodon,
	FaTwitter,
	FaYoutube,
} from "react-icons/fa";

import brandLight from "../assets/brand-light.png";

const social = [
	{
		name: "GitHub",
		href: "https://github.com/neodyland",
		color: "hover:text-github hover:bg-github",
		icon: FaGithub,
	},
	{
		name: "Twitter",
		href: "https://twitter.com/neodyland",
		color: "hover:text-twitter hover:bg-twitter",
		icon: FaTwitter,
	},
	{
		name: "Discord",
		href: "https://neody.land/to?discord",
		color: "hover:text-discord hover:bg-discord",
		icon: FaDiscord,
	},
	{
		name: "Youtube",
		href: "https://neody.land/to?youtube",
		color: "hover:text-youtube hover:bg-youtube",
		icon: FaYoutube,
	},
	{
		name: "Mastodon",
		href: "https://neody.land/to?misskey",
		color: "hover:text-misskey hover:bg-misskey",
		icon: FaMastodon,
	},
];

const links = [
	{
		name: "Resouces",
		children: [
			{
				name: "About us",
				href: "https://neody.land/about",
			},
			{
				name: "Partners",
				href: "https://neody.land/partners",
			},
			{
				name: "Services",
				href: "https://neody.land/services",
			},
			{
				name: "News",
				href: "https://neody.land/news",
			},
		],
	},
	{
		name: "Support",
		children: [
			{
				name: "Neodyland",
				href: "https://neody.land/to?discord",
			},
			{
				name: "Artifacter",
				href: "https://neody.land/to?discord",
			},
			{
				name: "Glow-bot",
				href: "https://neody.land/to?discord",
			},
			{
				name: "MakeItAQuote",
				href: "https://neody.land/to?discord",
			},
		],
	},
	{
		name: "Legal",
		children: [
			{
				name: "Terms of use",
				href: "https://neody.land/terms",
			},
			{
				name: "Privacy policy",
				href: "https://neody.land/privacy",
			},
			{
				name: "Payments",
				href: "https://neody.land/payments",
			},
		],
	},
];

const buttons = [
	{
		href: "/docs",
		title: "Documentation",
	},
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<Header
		navigation={nav}
		buttons={buttons}
		color="#3CF6E7"
		brand={{
			showTitle: true,
			name: "Neody UI",
			href: "/",
			logo: brandLight.src,
		}}
		client:load
	/>
	<div class="mx-auto min-h-screen max-w-7xl px-4 py-24">
		<slot />
	</div>
	<Footer social={social} links={links} />
	</body>
</html>
